In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database.
You must use Pandas to answer the following questions:

1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
2. What is the average age of men?
3. What is the percentage of people who have a Bachelor's degree?
4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
5. What percentage of people without advanced education make more than 50K?
6. What is the minimum number of hours a person works per week?
7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
8. What country has the highest percentage of people that earn >50K and what is that percentage?
9. Identify the most popular occupation for those who earn >50K in India.

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("adult_data.csv")
df = pd.DataFrame(data)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
count = df['race'].value_counts()
df1 = count.reset_index()
df1.columns=['race', 'count']
print(df1)

                 race  count
0               White  27816
1               Black   3124
2  Asian-Pac-Islander   1039
3  Amer-Indian-Eskimo    311
4               Other    271

In [ ]:
df2 = df[df['sex'] == 'Male']['age'].mean()
print(df2)

39.43354749885268

In [ ]:
count = df[df['education']=='Bachelors'].shape[0]
print(count*100/df.shape[0])

16.446055096587944

In [ ]:
adv_edu = ['Bachelors','Masters','Doctrate']
adv_edu_li =df['education'].isin(adv_edu)
sal_li = df['salary'] == '>50K'
df1 = pd.DataFrame({'edu_adv':adv_edu_li, 'income_>50K':sal_li})
count =  (df1['edu_adv'] & df1['income_>50K']).sum()
print(count*100/df.shape[0])

9.766284819262308

In [ ]:
adv_edu = ['Bachelors','Masters','Doctrate']
adv_edu_li =df['education'].tolist() not in adv_edu
sal_li = df['salary'] == '>50K'
df1 = pd.DataFrame({'edu_adv':adv_edu_li, 'income_>50K':sal_li})
count =  (df1['edu_adv'] & df1['income_>50K']).sum()
print(count*100/df.shape[0])

24.080955744602438

In [ ]:
print(df['hours-per-week'].min())

1

In [ ]:
min_hrs = df['hours-per-week'] == df['hours-per-week'].min()
sal_li = df['salary'] == '>50K'
df1 = pd.DataFrame({'min_hrs':min_hrs, '>50K': sal_li})
count = (df1['min_hrs'] & df1['>50K']).sum()
print(count*100/df.shape[0])

0.0061423174963913885

In [ ]:
mt50K = df['salary'] == '>50K'
df1 = pd.DataFrame({'Countries': df['native-country'], '>50K': mt50K})
df1 = df1.dropna()
res = df1.groupby('Countries')['>50K'].sum().reset_index()
print((res['>50K'].max()*100/df.shape[0]), res.loc[res['>50K'].idxmax()]['Countries'])

22.023279383311323 United-States

In [ ]:
li = (df['salary'] == '>50K') & (df['native-country'] == 'India')
df1 = df[li]
count = df1['occupation'].value_counts()
print(count.idxmax())

Prof-specialty